body {
  background: url("image/bg 2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-nav li {
  padding-right: 50px;
}
.image-fluid {
  float: right;
  position: fixed;
  height: 600px;
  width: 600px;
  margin-left: 100px;
}
.greetings {
  font-family: Verdana;
  margin-top: 270px;
  margin-left: 300px;
  margin-right: 20px;
  float: left;
}
.name {
  color: #eb005f;
}
.contact {
  margin-top: 430px;
  margin-left: 300px;
}
.btn {
  margin-right: 20px;
}
.btn a {
  text-decoration: none;
  color: black;
}
.btn a:hover {
  color: white;
}
