body {
  background-color: rgb(255, 248, 220);
}
.navbar-nav li {
  padding-right: 50px;
}
.navbar-brand {
  letter-spacing: 10px;
}
.logo {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.column {
  float: left;
  width: 330px;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.appcard {
  margin-left: 270px;
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.appcard_back {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.appcard:hover .appcard_back {
  transform: rotateY(180deg);
}

.appcard_front,
.appcard_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.appcard_content {
  height: 250px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  background-color: #5a3825;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}
.image {
  border-radius: 10px;
}
