body {
  background-color: rgb(255, 248, 220);
  cursor: pointer;
}
.navbar-nav li {
  padding-right: 50px;
}
.navbar-brand {
  letter-spacing: 10px;
}
.logo {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.merwin {
  float: left;
  margin-right: 30px;
  height: 330px;
  width: 250px;
  border-radius: 10px;
}
.container img {
  margin-left: 23px;
  height: 250px;
  width: 300px;
  border-radius: 10px;
}

.container img:hover {
  cursor: pointer;
  border: solid #5a3825 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 1;
  transform: scale(1.2);
}
