body {
  background-color: rgb(255, 248, 220);
}
.navbar-nav li {
  padding-right: 50px;
}
.navbar-brand {
  letter-spacing: 10px;
}
.logo {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.merwin {
  float: left;
  margin-right: 30px;
  height: 330px;
  width: 250px;
  border-radius: 10px;
}
.t-title {
  text-align: center;
}
small {
  font-size: 25px;
}
